<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="FUXIN_CPL" connectionString="Server=.;Database=FUXIN_CPL;Trusted_Connection=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="FUXIN_CPL" connectionString="Data Source=10.201.19.90\MSSQLSERVER1;Initial Catalog=FUXIN_CPL;Persist Security Info=True;User ID=icsc;Password=00000000" providerName="System.Data.SqlClient" />
     <add name="FUXIN_CPL_HISTORY" connectionString="Data Source=10.201.19.90\MSSQLSERVER1;Initial Catalog=FUXIN_CPL_HISTORY;Persist Security Info=True;User ID=icsc;Password=00000000" providerName="System.Data.SqlClient" />-->
    <!--<add name="FUXIN_CPL" connectionString="Data Source=WEILIN-PC\SQLEXPRESS01;Initial Catalog=FUXIN_CPL;Persist Security Info=True;User ID=sa;Password=00000000" providerName="System.Data.SqlClient" />
     <add name="FUXIN_CPL_HISTORY" connectionString="Data Source=WEILIN-PC\SQLEXPRESS;Initial Catalog=FUXIN_CPL_HISTORY;Persist Security Info=True;User ID=sa;Password=00000000" providerName="System.Data.SqlClient" />-->
    <add name="FUXIN_CPL" connectionString="Data Source=I28457;Initial Catalog=FUXIN_CPL;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
	 <add name="FUXIN_CPL_HISTORY" connectionString="Data Source=I28457;Initial Catalog=FUXIN_CPL_HISTORY;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
    <!--<add name="FUXIN_CPL" connectionString="Data Source=127.0.0.1;Initial Catalog=FUXIN_CPL1;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
    <add name="FUXIN_CPL_HISTORY" connectionString="Data Source=127.0.0.1;Initial Catalog=FUXIN_CPL_HISTORY;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />-->
    <!--  <add name="FUXIN_CPL" connectionString="Data Source=LAPTOP-EJCI5MRK;Initial Catalog=FUXIN_CPL;Persist Security Info=True;User ID=sa;Password=laser99" providerName="System.Data.SqlClient" />
	   <add name="FUXIN_CPL_HISTORY" connectionString="Data Source=LAPTOP-EJCI5MRK;Initial Catalog=FUXIN_CPL_HISTORY;Persist Security Info=True;User ID=sa;Password=laser99" providerName="System.Data.SqlClient" />-->
    <!--<add name="FUXIN_CPL" connectionString="Data Source=WEILIN-PC\SQLEXPRESS;Initial Catalog=FUXIN_CPL;Persist Security Info=True;User ID=sa;Password=00000000" providerName="System.Data.SqlClient" />
     <add name="FUXIN_CPL_HISTORY" connectionString="Data Source=WEILIN-PC\SQLEXPRESS;Initial Catalog=FUXIN_CPL_HISTORY;Persist Security Info=True;User ID=sa;Password=00000000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--產線名稱-->
    <add key="ProLineName" value="CPL1" />
    <!--电脑名稱-->
    <add key="PC_Name" value="CPL_Client_01" />
    <add key="AkkaSystemName" value="CPL1HMI2" />
    <add key="ClientIPPort" value="127.0.0.1:8401" />
    <add key="ServerAkkaSystem" value="CPL1SERVER" />
    <add key="ServerAkkaSystemIP" value="127.0.0.1:8271" />
    <add key="LoadScheduleExcelStarRow" value="6" />
    <add key="LoadScheduleExcelStarCloumn" value="6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  <!--Printer-->
    <add key="Printer_IP" value="172.18.1.17" />
    <add key="Printer_Port" value="6101" />
  </appSettings>
  <akka>
    <hocon><![CDATA[
      akka
      {
        loglevel = DEBUG
        loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
         
        actor
        {
         provider = remote
          debug
          {
            receive = on      # log any received message
            autoreceive = on  # log automatically received messages, e.g. PoisonPill
            lifecycle = on    # log actor lifecycle changes
            event-stream = on # log subscription changes for Akka.NET event stream
            unhandled = on    # log unhandled messages sent to actors
          }
           deployment {
              # this nested section will be accessed by akka.actor.deployment
              # used to configure our ChartingActor
              /hmiclient {
				      # causes ChartingActor to run on the UI thread for WinForms
                dispatcher = akka.actor.synchronized-dispatcher
              }
          }
        }
        remote 
        {
        dot-netty.tcp 
        {
            port = 8401
            hostname = 0.0.0.0
            public-hostname = 127.0.0.1
        }
        }
      }
    ]]></hocon>
  </akka>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>